* {
}


.hero-content p {
font-size: 18px;
max-width: 450px;
margin-bottom: 30px;
text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}


.btn-primary {
background-color: #ffcc80;
color: #3e2723;
padding: 12px 25px;
border-radius: 25px;
text-decoration: none;
font-weight: bold;
transition: 0.3s;
}


.btn-primary:hover {
background-color: #ffffff;
}


/* MENU SECTION */
.menu-section {
padding: 80px 0;
margin-top: -40px;
}


.menu-section h2 {
text-align: center;
margin-bottom: 30px;
font-size: 32px;
color: #3e2723;
}


.menu-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 30px;
width: 90%;
margin: auto;
}


.menu-card {
background-color: #fff;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
padding-bottom: 20px;
text-align: center;
overflow: hidden;
transition: 0.3s;
}


.menu-card img {
width: 100%;
height: 200px;
object-fit: cover;
}


.menu-card h3 {
font-size: 20px;
margin: 15px 0 5px;
}


.menu-card p {
font-size: 18px;
font-weight: bold;
color: #3e2723;
}


.btn-secondary {
display: inline-block;
margin-top: 10px;
background-color: #3e2723;
color: #fff;
padding: 10px 20px;
border-radius: 25px;
text-decoration: none;
transition: 0.3s;
}


.btn-secondary:hover {
background-color: #5d4037;
}


/* FOOTER */
footer {
text-align: center;
padding: 20px 0;
background-color: #3e2723;
color: #ffcc80;
margin-top: 40px;
}